$bg-color-1: #0d0d0d;
$bg-color-2: #880000;
$gray-text: #e1e1e1;

$white: #fafafa;
$white-200: #f9f9f9;
$white-600: #e8e8e8;
$gray: #323232;
$gray-dark: #787878;
$red-200: #ff3a3a;
$red-800: #c30e0e;
$red-900: #980000;
$blue-400: #3593db;
$blue-700: #1b74b7;
