@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

#skills {
  background-color: variables.$bg-color-1;
  color: variables.$white;
  padding: 72px 0;

  .wrapper {
    @extend %wrapper-styles;
    flex-direction: column;
    align-items: center;

    .title {
      @extend %section-title;
    }

    .container-skills {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 90%;
      row-gap: 2.5rem;

      @include mixins.notebook {
        gap: 2rem 1rem;
      }

      @include mixins.notebook {
        width: fit-content;
        gap: 1.4rem 0.8rem;
      }

      .skill {
        @extend %display-flex-column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: fit-content;

        &-name {
          font-size: 1.5rem;
          font-weight: 400;
          text-align: center;
          color: variables.$gray-text;
          padding-bottom: 5px;

          @include mixins.notebook {
            font-size: 1.3125rem;
          }
        }

        &-card {
          display: flex;
          justify-content: center;
          width: 80%;
          border-radius: 6px;
          border: solid 4px transparent;
          transition: 0.9s;

          @include mixins.notebook {
            width: 80%;
          }

          @include mixins.tablet {
            width: 100px;
          }

          img {
            width: 100%;
          }

          &:hover {
            transition: 0.3s;
            border-color: variables.$red-800;
            transform: scale(1.04);
          }
        }
      }
    }
  }
}
