@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

#about {
  background-color: variables.$bg-color-2;
  padding: 72px 0;

  .wrapper {
    @extend %wrapper-styles;
    flex-direction: column;

    .title {
      text-align: center;
      color: variables.$white;
      font-size: 2.5rem;
      font-weight: 400;
      padding-bottom: 48px;
    }

    .container {
      display: flex;
      justify-content: center;
      gap: 5rem;

      .ilustration {
        width: 50%;

        @include mixins.notebook {
          width: 40%;
        }
      }

      .description {
        display: flex;
        flex-direction: column;
        text-align: justify;
        width: 50%;
        font-size: 1.25rem;
        font-weight: 400;
        gap: 25px;
        color: variables.$white;

        @include mixins.notebook {
          font-size: 1.15rem;
        }
      }
    }
  }
}
