@use "../../styles/variables.scss";

.about {
  background-color: variables.$bg-color-2;

  .wrapper {
    padding: 72px 155px;

    .title {
      text-align: center;
      color: variables.$white;
      font-size: 2.5rem;
      font-weight: 400;
      padding-bottom: 48px;
    }

    .container {
      display: flex;
      justify-content: center;
      gap: 6rem;

      .ilustration {
        width: 480px;
      }

      .description {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        font-weight: 400;
        gap: 25px;
        color: variables.$white;
      }
    }
  }
}
