@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

#about {
  background-color: variables.$bg-color-2;
  padding: 72px 0;

  .wrapper {
    @extend %wrapper-styles;
    flex-direction: column;

    .title {
      @extend %section-title;
    }

    .container {
      display: flex;
      justify-content: center;
      gap: 5rem;

      @include mixins.tablet {
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
      }

      .ilustration {
        width: 50%;

        @include mixins.notebook {
          width: 40%;
        }

        @include mixins.tablet {
          width: 70%;
          max-width: 450px;
        }
      }

      .description {
        display: flex;
        flex-direction: column;
        text-align: justify;
        width: 50%;
        font-size: 1.25rem;
        font-weight: 400;
        gap: 25px;
        color: variables.$white;

        @include mixins.notebook {
          font-size: 1.15rem;
        }

        @include mixins.tablet {
          font-size: 1rem;
          width: fit-content;
        }
      }
    }
  }
}
