@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";
@use "sass:color";

#contact {
  background-color: variables.$bg-color-2;
  padding: 72px 0;

  .wrapper {
    @extend %wrapper-styles;
    flex-direction: column;
    align-items: center;

    .title {
      @extend %section-title;
    }

    .email {
      font-size: 1.375rem;
      color: variables.$white;
      transition: 0.5s;
      cursor: copy;

      @include mixins.tablet {
        font-size: 1.1rem;
      }

      &:hover {
        transition: 0.5s;
        transform: scale(1.1);
      }
    }

    .social-contact {
      display: flex;
      justify-content: center;
      gap: 22px;
      margin-top: 28px;
    }

    .btn {
      -webkit-transition: -webkit-filter 500ms linear;
      height: 61.59px;

      @include mixins.tablet {
        width: 35%;
      }

      img {
        width: 100%;
      }

      &:hover {
        -webkit-transition: -webkit-filter 500ms linear;
        filter: invert(0.9);
      }
    }
  }
}
