@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

header {
  background-color: variables.$bg-color-1;
  margin-top: 76px;
  padding: 72px 0;

  @include mixins.notebook {
    margin-top: 60px;
  }

  .wrapper {
    @extend %wrapper-styles;
    justify-content: space-between;
    gap: 30px;

    @include mixins.tablet {
      flex-direction: column-reverse;
      align-items: center;
      gap: 32px;
    }

    .my-picture {
      width: 30.125rem;

      @include mixins.notebook {
        width: 40%;
      }

      @include mixins.tablet {
        width: 75%;
        max-width: 400px;
      }
    }

    .apresentation {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      min-width: 40%;
      color: variables.$white;

      @include mixins.tablet {
        align-items: center;
      }

      &-message {
        font-size: 1.8rem;
        font-weight: 400;

        @include mixins.notebook {
          font-size: 1.4rem;
        }

        @include mixins.tablet {
          font-size: 1.25rem;
        }
      }

      &-name {
        font-size: 2.5rem;
        font-weight: 900;

        @include mixins.notebook {
          font-size: 2.2rem;
        }

        @include mixins.tablet {
          font-size: 2rem;
          text-align: center;
        }
      }

      &-career {
        display: block;
        padding-top: 10px;
        font-size: 2rem;
        font-weight: 400;

        @include mixins.notebook {
          font-size: 1.8rem;
        }

        @include mixins.tablet {
          font-size: 1.5rem;
        }
      }

      .social-links {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;

        @include mixins.tablet {
          justify-content: center;
        }

        .btn {
          display: flex;
          align-items: center;
          gap: 15px;
          cursor: pointer;
          font-size: 1rem;
          font-weight: 900;
          padding: 10px 15px;
          border-radius: 8px;

          @include mixins.tablet {
            font-size: 0.875rem;
          }
        }

        &-linkedin {
          background-color: variables.$blue-400;
          border: 3px solid variables.$blue-700;
          @include mixins.btn-hover(variables.$blue-400, variables.$blue-700);
        }

        &-github {
          color: variables.$bg-color-1;
          background-color: variables.$white-200;
          border: 3px solid variables.$gray-dark;
          transition: 0.3s;

          &:hover {
            transition: 0.3s;
            background-color: variables.$white-600;
            border-color: variables.$gray;
          }
        }

        &-download {
          width: fit-content;
          padding: 12.5px 15px !important;
          background-color: variables.$red-800;
          border: 3px solid variables.$red-900;
          @include mixins.btn-hover(variables.$red-800, variables.$red-900);
        }
      }
    }
  }
}
