@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100dvw;
  height: 76px;
  z-index: 1;
  top: 0;
  background-color: variables.$bg-color-1;
  border-bottom: 1px solid variables.$gray;

  .wrapper {
    @extend %wrapper-styles;
    justify-content: space-between;

    .logo {
      height: 40px;
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 20px;
      color: variables.$gray-text;

      li {
        @include mixins.main-hover;
        font-size: 1.25rem;
      }
    }
  }
}
