@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

#footer {
  background-color: variables.$bg-color-1;
  color: variables.$white;
  padding: 12px 0;

  @include mixins.notebook {
    font-size: 0.9rem;
  }

  .wrapper {
    @extend %wrapper-styles;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;

    .left {
      span {
        color: variables.$red-200;
      }
    }

    .right {
      display: flex;
      gap: 10px;

      img {
        width: 115px;

        @include mixins.notebook {
          font-size: 0.9rem;
        }
      }
    }
  }
}
