@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

#footer {
  background-color: variables.$bg-color-1;
  color: variables.$white;
  padding: 12px 0;

  @include mixins.notebook {
    font-size: 0.9rem;
  }

  @include mixins.tablet {
    font-size: 0.75rem;
  }

  .wrapper {
    @extend %wrapper-styles;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;

    @include mixins.tablet {
      justify-content: center;
    }

    .left {
      @include mixins.tablet {
        text-align: center;
      }

      span {
        color: variables.$red-200;
      }
    }

    .right {
      display: flex;
      gap: 10px;

      @media (max-width: 385px) {
        flex-direction: column;
        align-items: center;
      }

      img {
        width: 115px;

        @include mixins.notebook {
          font-size: 0.9rem;
        }

        @include mixins.tablet {
          width: 104px;
        }
      }
    }
  }
}
