@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

#experience {
  background-color: variables.$bg-color-1;
  color: variables.$white;
  padding: 72px 0;

  .wrapper {
    @extend %wrapper-styles;
    flex-direction: column;

    .title {
      @extend %section-title;
    }

    .container {
      display: flex;
      justify-content: center;
      gap: 40px;

      .card {
        @extend %display-flex-column;
        width: 50%;
        gap: 16px;

        .head {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .card-title {
            font-size: 1.625rem;

            @include mixins.notebook {
              font-size: 1.55rem;
            }
          }

          .card-time {
            font-size: 1.125rem;
            font-weight: 400;
            color: variables.$gray-text;

            @include mixins.notebook {
              font-size: 1rem;
            }
          }
        }

        .info {
          @extend %display-flex-column;
          gap: 24px;

          .company {
            font-size: 1.5rem;
            color: variables.$red-200;
          }

          .description {
            font-size: 1.25rem;
            color: variables.$gray-text;

            @include mixins.notebook {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
