@use "../../styles/mixins.scss";

.backToTopBtn {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 2;
  width: 52px;
  height: 52px;
  bottom: 1.8rem;
  right: 2rem;
  transition: 500ms;
  transform: translateY(100%);

  @include mixins.tablet {
    bottom: 60px;
    right: 10px;
  }

  img {
    width: 100%;
    border: solid 2px #880000;
    border-radius: 90px;
  }

  &:hover {
    filter: brightness(85%);
  }
}

.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
